<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.sharksystem.sharknet">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name="net.sharksystem.api.shark.Application"
            android:allowBackup="true"
            android:icon="@drawable/shark_icon256x256"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:replace="android:icon, android:theme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.ContactsActivity"
                android:label="@string/title_activity_contacts"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".activities.ChatActivity"
                android:label="@string/title_activity_chat"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".activities.InboxActivity"
                android:label="@string/title_activity_inbox"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".activities.ProfileActivity"
                android:label="@string/title_activity_profile"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".activities.ChatDetailActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_chat_detail"
                android:parentActivityName=".activities.ChatActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.sharksystem.sharknet.activities.ChatActivity"/>
        </activity>
        <activity
                android:name=".activities.ChatNewAcivity"
                android:label="@string/title_activity_chat_new"
                android:parentActivityName=".activities.ChatActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.sharksystem.sharknet.activities.ChatActivity"/>
        </activity>
        <activity
                android:name=".activities.ContactsDetailViewActivity"
                android:label="@string/title_activity_con_detail_view"
                android:parentActivityName=".activities.ContactsActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.sharksystem.sharknet.activities.ContactsActivity"/>
        </activity>
        <activity
                android:name=".activities.ProfileDetailActivity"
                android:label="@string/title_activity_profile_detail"
                android:parentActivityName=".activities.ProfileActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.sharksystem.sharknet.activities.ProfileActivity"/>
        </activity>
        <activity
                android:name=".activities.ContactsNewActivity"
                android:label="@string/title_activity_con_new"
                android:parentActivityName=".activities.ContactsActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.sharksystem.sharknet.activities.ContactsActivity"/>
        </activity>
        <activity
                android:name=".activities.ProfileDetailInterestsActivity"
                android:label="@string/title_activity_profile_detail_interests"
                android:parentActivityName=".activities.ProfileDetailActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.sharksystem.sharknet.activities.ProfileDetailActivity"/>
        </activity>
        <activity
                android:name=".activities.InboxNewFeedActivity"
                android:label="@string/title_activity_timeline_detail_view"
                android:parentActivityName=".activities.InboxActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.InboxActivity"/>
        </activity>
        <activity
                android:name=".activities.ProfileSettingsActivity"
                android:label="@string/title_activity_profile_settings"
                android:parentActivityName=".activities.ProfileActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.sharksystem.sharknet.activities.ProfileActivity"/>
        </activity>
        <activity
                android:name=".activities.NewInterestActivity"
                android:label="@string/title_activity_new_interest"
                android:parentActivityName=".activities.ProfileDetailInterestsActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.sharksystem.sharknet.activities.ProfileDetailInterestsActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.ChatDetailAddContactActivity"
                android:label="@string/title_activity_chat_detail_add_contact"
                android:parentActivityName=".activities.ChatDetailActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.sharksystem.sharknet.activities.ChatDetailActivity"/>
        </activity>
        <activity
                android:name=".activities.RadarActivity"
                android:label="@string/title_activity_radar"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".activities.ChatDetailSettings"
                android:label="Settings"
                android:parentActivityName=".activities.ChatDetailActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.sharksystem.sharknet.activities.ChatDetailActivity"/>
        </activity>
    </application>

</manifest>